<%= form_with model: @post, local: true do |form| %>

<p><%= form.label :title %><br>
<%= form.text_field :title %>
</p>

<p><%= form.label :img %><br>
<%= form.text_area :img %>
</p>

<p><%= form.label :assessment %><br>
<%= form.text_field :assessment %>
</p>

<p><%= form.label :category %><br>
<%= form.text_field :category %>
</p>

<p><%= form.label :comment %><br>
<%= form.text_area :comment %>
</p>

<p><%= form.label :url %><br>
<%= form.text_field :url %>
</p>

<p><%= form.submit %>
</p>

<% end %>